---
import Section from "../Section.astro"

import { skills } from "@cv-en"

---

<Section title="Skills">
  <ul>
    {
      skills.map(({ name, level }, index) => {
        return (  
          <li>
            <span>{name} -</span>
            <span>{level}</span>
          </li>
          <div class="print">
            {
              skills.length - 1 !== index && (
                <span> • </span>
              )
            }
          </div>
        )
      })
    }
  </ul>
</Section>

<style>
  ul {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
  }

  li {
    border-radius: 6px;
    background: #eee;
    color: #111;
    font-size: 0.8rem;
    font-weight: 500;
    padding: 0.2rem 0.6rem;
  }
</style>