---
import Layout from '@/layouts/Layout.astro';

import Hero from '@/components/cv/sections/Hero.astro';
import About from '@/components/cv/sections/About.astro';
import Experience from '@/components/cv/sections/Experience.astro';
import Education from '@/components/cv/sections/Education.astro';
import Projects from '@/components/cv/sections/Projects.astro';
import Skills from '@/components/cv/sections/Skills.astro';
import Footer from '@/components/cv/Footer.astro';

import { basics } from "@cv-en"
import Languages from '@/components/cv/sections/Languages.astro';

const { name, label } = basics
---

<!-- <ThemeIcon /> -->
<Layout title={`${name} - ${label} portfolio`}>
	<main>
		<Hero />
		<About />
		<Experience />
		<Education />
		<Projects />
		<Skills />
    <Languages />
	</main>

	<Footer />
</Layout>

<style>
	main {
		padding: 4rem;
		margin: auto;
		width: 100%;
	}
</style>
